<!doctype html>
<html>
  <head>
      <title>Welcome to Ansible {{ APP_NAME }}!</title>
  </head>
  <body>
    <h2>{{ APP_NAME }}!!!</h2>
    <p><strong>Configure your world your way &#153;</strong></p>
  </body>
</html>