server {
        root {{ wp_install_dir }};
        index index.html index.htm index.nginx-debian.html index.php;
        server_name {{ wp_sitename }};
        error_log /var/log/nginx/{{ wp_sitename }}_error.log;
        access_log /var/log/nginx/{{ wp_sitename }}_access.log;

        location / {
                try_files $uri $uri/ /index.php$is_args$args;
        }

        location = /favicon.ico { log_not_found off; access_log off; }
        location = /robots.txt { log_not_found off; access_log off; allow all; }
        location ~* \.(css|gif|ico|jpeg|jpg|js|png)$ {
                expires max;
                log_not_found off;
        }

        location ~ \.php$ {
                try_files $uri =404;
                include /etc/nginx/fastcgi_params;
                fastcgi_read_timeout 3600s;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_pass unix:/run/php/php{{ php_version.stdout }}-fpm.sock;
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_index index.php;
        }
}
